{
	admin off
	default_sni 82.157.204.208
}

https://82.157.204.208:3011 {
	tls internal
	encode zstd gzip
	log {
		output stdout
		format json
	}

	basic_auth {
		canvas {$CANVAS_BASIC_AUTH_HASH}
	}

	reverse_proxy app:3000 {
		flush_interval -1
	}
}
